#Images & DLLs


_CommonRedist/
_windows/
_windowsnosteam/
activity_log/
audio/
campaign/
colours/
curios/
cursors/
dungeons/
fe_flow/
fonts/
fx/
game_over/
inventory/
loading_screen/
localization/*
!localization/curios.*
loot/
maps/
monsters/
overlays/
panels/
props/
raid/
raid_results/
scripts/layout/
scripts/starting_save/
heroes/Backup/
scripts/Backup/
scripts/timescript/
scrolls/
shaders/
shared/*
!shared/buffs/
upgrades/
user_information/
video/
*.art.darkest
*.png
*.bank
*.tga
*.skel
*.dll
*.exe
*.ogv
*.glsl
*.times
*.atlas
*.dm
*.loc
*.fnt
*.xml
*.dll
*.xml
*.xml
pin
scripts/camera.darkest
scripts/starting_roster.darkest
scripts/map_generator.darkest
*.txt
scripts/world.darkest
scripts/raid.lighting.darkest